:host {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;

  button {
    padding: 0;
    min-width: 69px;
    height: 42px;
    flex: 0 0 45%;
    background-color: white;
    border: #ddd 2px outset;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
  }

  button:active {
    border-style: inset;
  }

  .zurueck {
    background-image: url(../../../assets/images/go-previous.png);
  }

  .weiter {
    background-image: url(../../../assets/images/go-next.png);
  }
}
