.reihen {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.sitze {
  display: flex;
}

.label {
  flex: 0 0 69px;
  display: flex;
  place-items: center;
}
