.list {
  width: max-content;
  border-style: inset;
  border-width: 1px;
  padding: 4px;
}

.item {
  font-size: 20px;
  padding: 8px 2px;
  cursor: pointer;
}

.item:hover {
  background-color: #ddf;
}

.ausgewaehlt {
  background-color: #aae;
}

.ausgewaehlt:hover {
  background-color: #ccf;
}
